body {
    font: 20px arial, sans serif;
}
.navbar {
    background-color: #58D68D ;
}
.quem-somos {
    background-color: #6495ED;
    color: white;
}
.margin-nav {
    padding-top: 10px;
    padding-bottom: 20px;
}
.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros {
    color: #2E4053;
    background-color: #85C1E9 ;
}
.bg-footer{
    background-color: black;
    color: wheat;
}
.margin-footer {
    padding-bottom: 15px;
}
#serviços {
    color: #515A5A;
}